{% extends "layout.twig" %}

{% block title %}Home{% endblock %}

{% block contents %}
<h1>Welcome to your Fwk\Core Application !</h1>

<p>Seeing this page means that you're ready code!</p>

<p>Useful links:</p>
<ul>
    <li><strong>Fwk Homepage</strong>: <a href="http://nitronet.org/fwk">http://nitronet.org/fwk</a></li>
    <li><strong>Fwk on Twitter</strong>: <a href="http://twitter.com/phpfwk">http://twitter.com/phpfwk</a></li>
    <li><strong>Fwk\Core documentation</strong>: <a href="http://nitronet.org/fwk/Core/doc">http://nitronet.org/fwk/Core/doc</a></li>
    <li><strong>Fwk\Core API</strong>: <a href="http://nitronet.org/fwk/Core/api">http://nitronet.org/fwk/Core/api</a></li>
    <li><strong>PHP Manual</strong>: <a href="http://php.net/manual">http://php.net/manual</a></li>
    <li><strong>Relax</strong>: <a href="http://9gag.com">http://9gag.com/</a></li>
    <li><strong>The Coding Love</strong>: <a href="http://thecodinglove.com/">http://thecodinglove.com/</a></li>
</ul>
{% endblock %}
